
{% load staticfiles %}
{% block content %}
<div class="slider-wrap"><div class="slider-ctn"id="landing-slidr">

<section class="landing landing-large text-lt" style="background-image: url('{% static 'buildpage/images/RenAM500.png' %}');padding-bottom:120px">
  <div class="ctn">
    <h1 class="title">Add Route Steps</h1>
</section>

</div> </div>

<section id="one">
<section class="block aggregator" >

<div class="ctn">
                  <center>        
                  <font face = Flexo><form id= "myForm" method = 'POST' action="{% url 'autocomplete:autocompletetest' %}" enctype="multipart/form-data">{% csrf_token %}
<div class = 'table' id="form_template">
                <table>
                  <tbody>
                  {% for form in formset.forms %}
                  <tr>
                                    {{form.as_table}}
                  </tr> 
                                    {% endfor %}
                  </tbody>
                  </table>
                 {{ formset.management_form }}
</div>
                 <div id="forms"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
              <input type = "submit" name = "Submit Steps">
                  </form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <span>Add this number<table><input type = "number" name = "quantity" value = "1" style = "width: 30px;">
 of steps</span>
<p><input type = "button" value = "Add" id = "generate_forms" ></p>

                  </font>
                  </center> 
        </div>
  </div>
</section>
</section>

</body>
{% block footer %}
<script type="text/javascript" src="{% static 'autocomplete/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete/jqueryclone.min.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete/jquery.formset.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete/jquery.autocomplete.min.js' %}"></script>
<script>
        $(function() {
            // this is on click event just to demo.
            // You would probably run this at page load or quantity change.
            $("#generate_forms").click(function() {
                // update total form count
                quantity = $("[name=quantity]").val();
                $("[name=form-TOTAL_FORMS]").val(quantity);  
                // copy the template and replace prefixes with the correct index
                for (i=0;i<quantity;i++) {
                    // Note: Must use global replace here
                    html = $("#form_template").clone().html().replace(/__prefix_/g, i);
                    $("#forms").append(html);
                };
            })
        })
</script>
<script type="text/javascript">
 $(function() {
        $('#myForm tbody tr').formset({
            prefix: '{{ formset.prefix }}',
            added: (function(row) {
                $(row.find('.data-autocomplete-light-function')).each(function(){
                    $(this).trigger('autocompleteLightInitialize');
                })
            })
        });
    )
   
</script>

{{ formset.media }}

{% endblock footer %}

{% endblock %}


